<launch>
	<!-- One or two argument given to specify the camera topic to display -->
	<arg name="camera_up_left_topic" default="/cameras/left_hand_camera/image"/>
	<arg name="camera_low_left_topic" default="/cameras/right_hand_camera/image"/>
	<arg name="camera_up_right_topic" default="/kinect2/qhd/image_color"/>
	<arg name="camera_low_right_topic" default="none"/>
	<node name="baxter_camera_display_node" pkg="baxter_eyes" type="baxter_camera_display_node" output="screen" args="$(arg camera_up_left_topic) $(arg camera_low_left_topic) $(arg camera_up_right_topic) $(arg camera_low_right_topic)"/>
</launch>
